body{
    padding: 0;
    margin: 0;
    background-color: #E7F6F2;
    height: 100vh;
    font-family: Arial;
}

#navbar{
    background-color:#2C3333;
    height: 10%;
}

#navbar img{
    height: 100%;
    margin-left:40%;
}

#footer{
    margin-top:30%;
    background-color:#2C3333;
    height: 12%;    
}

#footer h1{
    margin-top:20%;
}

#version{
    color: white;
    margin-top:1em;
    margin-left: 30%;
}

#title{
    margin-left: 15%;
    margin-top: 20%;
}

#enter{
    background-color: #395B64;
    border: none;
    font-size: 28px;
    color: white;
    border-radius: 15px;
    padding:20px;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin-top: 15%;
    margin-left: 25%;
}

.bloques{
    margin-top:30%;
    width:50%;
    display: inline-block;
}

.bloques button{
    background-color: #395B64;
    border: none;   
    margin-left:15%;
    margin-right:15%;
    border-radius: 15px;
    padding-top:1em;
    padding-bottom:1em;
}

.bloques button img{
    width:60%;
    height: auto;
}

.bloques h2{
    margin-left:30%;
}